<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.logindemo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.demo.logindemo.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 登录界面 -->
        <activity
            android:name=".activity.personcenter.impl.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <!-- 主界面 -->
        <activity
            android:name=".activity.other.impl.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".activity.personcenter.impl.RegisterActivity" />
        <activity android:name=".activity.personcenter.impl.PersonActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.personcenter.impl.InformationEditActivity" />
        <activity android:name=".activity.personcenter.impl.DataActivity" />
        <activity android:name=".activity.personcenter.impl.AddressEditActivity" />
        <activity android:name=".activity.personcenter.impl.PhoneNumberBindActivity" />
        <activity android:name=".activity.personcenter.impl.MemberCenterActivity" />
        <activity android:name=".activity.personcenter.impl.OrderCenterActivity" />
        <activity android:name=".activity.personcenter.impl.ShoppingCartActivity" />
        <activity android:name=".activity.personcenter.impl.DiscountCouponActivity" />
        <activity android:name=".activity.personcenter.impl.BargainActivity" />
        <activity android:name=".activity.personcenter.impl.GrouponActivity" />
        <activity android:name=".activity.personcenter.impl.WinningActivity" />
        <activity android:name=".activity.personcenter.impl.IntegralShoppingMallActivity" />
        <activity android:name=".activity.personcenter.impl.IntegralPersonActivity" />
        <activity android:name=".activity.personcenter.impl.WithdrawDepositActivity" />
        <activity android:name=".activity.personcenter.impl.OrderParticularsActivity" />
        <activity android:name=".activity.personcenter.impl.OrderTrackingActivity" />
        <activity android:name=".activity.personcenter.impl.CommodityParticularsActivity" />
        <activity android:name=".activity.personcenter.impl.AlterationInsuranceActivity" />
        <activity android:name=".activity.personcenter.impl.IntegralSequenceActivity" />
        <activity android:name=".activity.personcenter.impl.IntegralTaskActivity" />
        <activity android:name=".activity.personcenter.impl.IntegralUseActivity" />
        <activity android:name=".activity.personcenter.impl.IntegralParticularsActivity"></activity>
    </application>

</manifest>